.App-header {
  background-color: #F44336;
  height: 60px;
  width: 100%;
  line-height: 60px;
  vertical-align: middle;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.header-container {
  width: 1020px;
  height: 60px;
  margin: 0 auto;
}

.header-logo-image {
  margin: 5px 0 0 50px;
  display: inline-block;
}

.header-logo-text {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 32px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0 0 0 20px;
  display: inline-block;
  margin-top: -90px;
}

.header-link {
  float: right;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  display: inline-block;
  clear: right;
}

.header-link-text, .header-link-text:hover, .header-link-text:active, .header-link-text:visited {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header-link-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
