.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #F44336;
  height: 60px;
  width: 100%;
  line-height: 60px;
  vertical-align: middle;
  color: white;
}

.App-link {
  color: #61dafb;
}
