.product-box {
  width: 120px;
  height: 125px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 33px 20px 0 20px;
  margin: 10px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  color: #424242;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-shadow: 0 -1px 5px rgba(93,93,93,0.10), 0 3px 5px rgba(93,93,93,0.24);
}

.product-box:hover {
  cursor: pointer;
  border: 1px solid #424242;
}

.product-name {
  display: block;
  margin: 20px 0 0 0;
}

.product-box-price {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #616161;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.products-list-container {
  width: 550px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.products-list-container-visible {
  opacity: 1;
}

.products-list-container-hidden {
  opacity: 0;
}
