.form_full_btn {
  height: 50px;
  width: 100%;
  border-radius: 25px;
  border: 0px;
  padding: 0 50px;
  background-color: #1E88E5;
  line-height: 50px;
  vertical-align: middle;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  outline: 0;
}

.form_full_btn:hover {
  cursor: pointer;
}

.form_box_md_container {
  width: 325px;
  margin: 30px auto 75px auto;
  font-family: 'Bangers', sans-serif;
  color: #424242;
  font-size: 36px;
  text-align: center;
  padding: 20px 0 0 0 ;
}

.form_box_md {
  border: 0px solid #eee;
  border-radius: 3px;
  padding: 20px 20px 15px 20px;
  text-align: left;
  background: #fff;
  margin: 15px 0 25px 0;
  box-shadow: 0 -1px 5px rgba(93,93,93,0.06), 0 3px 5px rgba(93,93,93,0.24);
}

.form_box_md div {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  color: #424242;
  line-height: 10px;
}

.form_box_md input[type=text] {
  margin: 0 0 15px 0;
  height: 40px;
  width: 265px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 20px;
}

.form_box_md input[type=password] {
  margin: 0 0 15px 0;
  height: 40px;
  width: 265px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e0e0e0;
}

.form_box_md input[type=checkbox] {
  margin-bottom: 20px
}


.location-search-input {
  text-align: left;
  width: 90%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  font-family: 'Lato', sans-serif;
  color: #424242;
  font-size: 16px;
  padding: 0 10px;
}

.autocomplete-dropdown-container {
  height: auto;
  position: absolute;
  top: 325px;
  z-index: 5;
  border: 0px solid blue;
  line-height: 25px
}

.suggestion-item {
  height: 25px;
  width: 300px;
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: 'Lato'. sans-serif;
  background-color: #fff;
  color: #616161;
}

.suggestion-item-active {
  height: 25px;
  width: 300px;
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: 'Lato'. sans-serif;
  background-color: #eee;
  color: #616161;
  cursor: pointer;
}
